#main{
    width: 100%;
}

#headerTitle {
    font-size: 24px;
}

#headerList li {
    font-size: 18px;
}

#modalHeader {
    background-color: black;
    color: white;
    font-size: 18px;
}

.thickLabel{
    font-weight: bold;
}

#appointmentList {
    list-style: none;
}

.appointment {
    border: 1px solid black;
}

.appointmentTitle {
    font-size: 18px;
    font-weight: bold;
}

.deactivated {
    background-color: lightgray;
}